*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.cabecalho{
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    img{
        height: 100px;
    }

    .links{
    position: relative;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;


  
    a {
        position: relative;
        z-index: 1;
        color: white;
        font-size: 20px;
        text-decoration: none;
        border-radius: 20px;
        padding: 10px 20px;
       transition:all 0.5s ease;

       &:hover{
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);}
    }
    button{
        padding: 10px 25px;
        border-radius: 20px;
        border: none;
        background-color: #ff4d4d;
        color: white;
        font-size: 15px;
        font-weight: 800;
        cursor: pointer;
        margin: 0 50px;

    }
    

    }
}