

.rodape{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
  background-color: rgb(204, 204, 204);
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;


    img{
        width: 100px;
    }

    .caixas{
        width: 80%;
        display: flex;

        .caixa{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}

.ola{
    width: 100%;
    display: flex;
    justify-content: center;
   background-color: rgb(204, 204, 204);
}