body {
  background: linear-gradient(135deg, #141E30, #494a4b);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}




.area_login {
  width: 40%;
  padding: 45px;
  height: 500px;
  justify-content: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 25px;
  backdrop-filter: blur(12px);
  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);


  label {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.4);
  }

  input {
    width: 100%;
    height: 45px;
    border-radius: 12px;
    border: none;
    padding: 0 18px;
    font-size: 16px;
    background: rgba(255,255,255,0.15);
    color: #fff;
    outline: none;
    transition: .3s;

    &::placeholder {
      color: rgb(240, 240, 240);
    }

    &:focus {
      background: rgba(255,255,255,0.25);
      box-shadow: 0 0 10px #00eaff;
    }
  }

  button {
    width: 70%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    background: linear-gradient(45deg, #17D7A0, #0CA4FF);
    color: #fff;
    transition: .4s;
    box-shadow: 0px 5px 18px rgba(0,0,0,0.35);

    &:hover {
      transform: scale(1.08);
      opacity: .9;
      box-shadow: 0px 8px 25px rgb(0, 0, 0);
    }
  }
}

