main{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: center;

    h1{
        background-image: url("https://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/Performance/2026-corvette-z06/page-assets/03-design/2026-z06-design-01-xs.jpg?imwidth=1920");
        background-clip: text;
        color: rgba(255, 255, 255, 0);
        margin-bottom: 20px;
        font-size: 80px;
    }
    p{
        background-clip: text;
        color: rgba(255, 255, 255, 0.877);
        margin-bottom: 20px;
        font-size: 40px;
    }
}